
:root
{
  --cherry-color: #cc223c;
  --darkblue-color: #121d54;
}

.darkred { color: darkred; }

.hidden { display: none }

div.coursework-configuration
{
    border: 1px solid black;
}

ol.coursework-configuration
{
    list-style: none;
    margin: 0;
    padding-left: none;
    display: flex;
    border-bottom: 1px solid black;
}

ol.coursework-configuration li
{
    padding: 5px 10px 5px 10px;
    border-right: 1px solid black;
    cursor: pointer;
}

ol.coursework-configuration li.selected
{
    background-color: #121d54;
    color: white;
}

ol.theme_creation
{
    list-style: none;
    margin: 0;
}

/* => Leaders overview start <= */

table.leaders_overview tr td
{
    padding: 3px 5px;
}

table.leaders_overview tr.header td
{
    font-weight: bold;
}


/* => Leaders overview end <= */
