
h2.pageHeader
{
    cursor: default;
}

p.pageHeader
{
    cursor: default;
    font-size: large;
}

p.workComponentHeader 
{
    background-color: #c4d8c3;
    border-bottom: 5px solid #bbb;
    cursor: pointer;
    padding: 2px;
    padding-left: 5px;
    margin: 3px;
    font-size: large;
}

div.workInfoGrids 
{
    cursor: default;
    display: grid;
    
}

@media (min-width:900px) 
{
    div.workInfoGrids 
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:899px) 
{
    div.workInfoGrids 
    {
        grid-template-columns: 1fr;
    }
}

div.workInfoGrids div table.teacherGrid
{
    margin-right: 0px;
    margin-left: auto;
}

div.workInfoGrids div table.teacherGrid tr td 
{
    text-align: right;
}

div.workInfoGrids div 
{
    padding: 3px;
}

div.workContainer
{
    margin: 3px;
    padding: 2px;
}

div.work_chat_content div.chatWindow
{
    margin: auto;
    max-width: 900px;
    cursor: default;
}

div.work_chat_content div.chatWindow table.sendMessage
{
    width: 100%;
    margin: 0px;
}

div.work_chat_content table.sendMessage tr td.inputMessage
{
    width: 75%;
    height: 40px;
}

div.work_chat_content table.sendMessage tr td.sendButton
{
    cursor: pointer;
    width: 25%;
    text-align: center;
    height: 40px;
}

div.work_chat_content input.inputMessage
{
    height: 30px;
    border: 2px solid #c4c4c4;
    width: 99%;
    color: #555;
    cursor: pointer;
}

div.work_chat_content input.inputMessage:focus
{
    border: 2px solid #444;
    width: 99%;
    cursor: text;
}

div.work_chat_content p.sendButton
{
    line-height:26px;
    background-color: #eee;
    border: 2px solid #c4c4c4;
    height: 30px;
}

div.work_chat_content p.sendButton:hover
{
    background-color: #ddd;
}

div.work_chat_content div.chat 
{
    margin: auto;
    max-width: 900px;
    height: 250px;
    overflow-y: scroll;
    cursor: default;
    border: none;
}

div.work_chat_content table.teacherMessage
{
    margin-right: 0px;
    margin-left: auto;
}

div.work_chat_content table.teacherMessage tr td 
{
    text-align: right;
    padding: 5px;
}

div.work_chat_content table.studentMessage
{
    margin-right: auto;
    margin-left: 0px;
}
div.work_chat_content div.chatWindow img.userpicture
{
    height: 50px;
    width: 50px;
}

div.work_chat_content table.studentMessage tr td 
{
    padding: 5px;
}

div.work_chat_content table tr td p.date
{
    font-size: smaller;
    color: grey;
}

.changeMyFilesButton
{
    background: #fff5ec;
}

.changeMyFilesButton:hover
{
    background: #fff1e6;
}

input.sendMessageInput
{
    width: 75%;
    border: none;
    padding-left: 10px;
}

div.workFilemanagerGrids 
{
    cursor: default;
    display: grid;
    column-gap: 3px;
    row-gap: 3px;
}

@media (min-width:630px) 
{
    div.workFilemanagerGrids div.header
    {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    div.workFilemanagerGrids div.button
    {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    div.workFilemanagerGrids 
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:629px) 
{
    div.workFilemanagerGrids 
    {
        grid-template-columns: 1fr;
    }
}

div.workFilemanagerGrids div.header
{
    background-color: #eee;
    text-align: center;
}

div.workFilemanagerGrids div.button
{
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}

div.workFilemanagerGrids div.button:hover
{
    background-color: #ddd;
}

div.workFilemanagerGrids div 
{
    border: 1px solid grey;
    padding: 3px;
}

table.workTask 
{
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
}

table.workTask thead tr td 
{
    text-align: center;
}

table.workTask tr td 
{
    padding: 5px;
    border: 1px solid grey;
    cursor: default;
}

table.workTask tr td.center
{
    text-align: center;
}

.grey 
{
    color: grey;
}

input.back_to_coursework
{
    display:inline-block;
}

@media (min-width:767px) 
{
    input.back_to_coursework
    {
        margin-left:29px;
    }
}

@media (max-width:766px) and (min-width:576px) 
{
    input.back_to_coursework
    {
        margin-left:54px;
    }
}

@media (max-width:575px)
{
    input.back_to_coursework
    {
        margin-left:15px;
    }
}

