
.yellowGrid 
{
    background-color: #fff9bb;
}

.greyGrid 
{
    background-color: #eee;
}

div.workInfoGrids 
{
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.workInfoGrids div 
{
    padding: 3px;
}

div.workInfoGrids div.header
{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    cursor: pointer;
}

p.workComponentHeader 
{
    background-color: #f7fbf1;
    border-bottom: 2px solid #c6d5ad;
    cursor: pointer;
    padding: 2px;
}


  