
p.selector
{
    cursor: default;
    padding-top: 7px;
}

table.studentsWorksList
{
    cursor: default;
    margin-top: 7px;
    border-collapse: collapse;
}

table.studentsWorksList thead tr td
{
    text-align: center;
}

table.studentsWorksList tbody tr:hover 
{
    background: #eee;
}

table.studentsWorksList tr td
{
    padding: 5px;
    border: 1px solid grey;
}


table.studentsWorksList tr td.center 
{
    text-align: center;
}

table.studentsWorksList tr td.red-bg 
{
    background: #ffcccc;
}

table.studentsWorksList tr td.no-borders
{
    border: none;
}

table.studentsWorksList tr:hover td.no-borders
{
    background: white;
}

table.studentsWorksList tr td.notibtn 
{
    text-align: center;
    color: #b20000;
    cursor: pointer;
}

table.studentsWorksList tr td.morebtn
{
    text-align: center;
    cursor: pointer;
    min-width: 40px;
}

p.no_students_message
{
    margin-top: 20px;
    color: darkred;
    font-size: large;
}

p.large_text
{
    font-size: large;
}

p.students-hider
{
    cursor: pointer;
}
