table.cw_view thead tr
{
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    position: sticky;
    top: 42px;
}

table.cw_view thead tr:hover
{
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

table.cw_view thead tr td
{
    color: white;
    text-align: center;
    font-weight: bold;

    background-color: transparent;
    padding: 10px;
}

table.cw_view tr
{
    border: 1px solid #606dbc;
    opacity: 1;
}

table.cw_view tr td
{
    padding: 10px;
    background-color: transparent;
}

table.cw_view tr:hover
{
    color: #cc223c;
}

table.cw_view thead tr td.transparent { background-color: transparent; }

table.cw_view tr td.transparent { background-color: transparent; }

select.select { width: 200px !important; }

.hidden { display: none; }

.nowrap { white-space: nowrap; }

.nomargin { margin: 0px !important; }

.themeSelectCheckbox 
{
    display: inline-block;
    cursor: pointer;
}

table.students_works 
{
    border-collapse: collapse;
}

table.students_works thead tr td 
{
    font-weight: bold;
}

table.students_works tr td 
{
    border: 1px solid black;
    padding: 1px 3px;
}

.red-background 
{
    background-color: #ff7373;;
}

.green-background 
{
    background-color: #b4eeb4;
}

.yellow-background 
{
    background-color: #fff68f;
}

.blue-background 
{
    background-color: #99d3e9;
}

.grey-background 
{
    background-color: #cccccc;
}

.view_container
{
    margin-top: 3px;
    background-color: #fff;
}

.view_container h3, h4, p, table 
{
    margin: 3px;
}

.view_container_header
{
    font-size: large;
    text-transform: uppercase;
    padding: 3px;
    border: 1px solid #696969;
    background-color: #f5f5f5;
    color: #696969;
    cursor: pointer;
}

.view_container_header_title
{
    font-size: medium;
    text-transform: lowercase;
    font-weight: normal;
}

.red 
{
    color: #8b0000 !important;
}

table.simple_table tr td
{
    padding: 3px 5px;
}

table.simple_table tr.header td
{
    font-weight: bold;
}

div#filemanager_body div.col-md-3 
{
    display: none;
}

div.student_files_3253 
{
    margin-top: 2px;
    border: 1px dashed grey;
}

div.teacher_files_3953
{
    border-left: 1px dashed grey;
    border-right: 1px dashed grey;
    border-bottom: 1px dashed grey;
}

div.send_to_check
{
    margin-top: 2px;
    border: 1px dashed grey;
    padding-left: 2px;
}

.cursorPointer
{
    cursor: pointer;
}
