table.cw_view thead tr
{
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    position: sticky;
    top: 42px;
}

table.cw_view thead tr:hover
{
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

table.cw_view thead tr td
{
    color: white;
    text-align: center;
    font-weight: bold;

    background-color: transparent;
    padding: 10px;
}

table.cw_view tr
{
    border: 1px solid #606dbc;
    opacity: 1;
}

table.cw_view tr td
{
    padding: 10px;
    background-color: transparent;
}

table.cw_view tr:hover
{
    color: #cc223c;
}

table.cw_view thead tr td.transparent { background-color: transparent; }

table.cw_view tr td.transparent { background-color: transparent; }

select.select { width: 200px !important; }

.hidden { display: none; }

.nowrap { white-space: nowrap; }

.nomargin { margin: 0px !important; }

.themeSelectCheckbox 
{
    display: inline-block;
    cursor: pointer;
}

table.students_works 
{
    border-collapse: collapse;
}

table.students_works thead tr td 
{
    font-weight: bold;
}

table.students_works tr td 
{
    border: 1px solid black;
    padding: 1px 3px;
}

.red-background 
{
    background-color: #ff7373;;
}

.green-background 
{
    background-color: #b4eeb4;
}

.view_container_header
{
    font-size: large;
    text-transform: uppercase;
    padding: 3px;
    border: 1px solid #696969;
    background-color: #f5f5f5;
    color: #696969;
    cursor: pointer;
}

.view_container_header_title
{
    font-size: medium;
    text-transform: lowercase;
    font-weight: normal;
}



