
.themes_toggler
{
    cursor: pointer;
    font-weight: bold;
}

p, h2, h4 
{
    cursor: default;
}

p
{
    color: #444;
}

div.themes_list
{
    display: none;
}

span.courseName
{
    color: #444;
}

form.back_button_form 
{
    margin-top: 16px !important;
}
